<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.AdminMapper">

    <select id="adminLogin" parameterType="Admin" resultType="Admin">
        select * from bookweb.admin
        where email=#{email} and pwd=#{pwd}
    </select>

    <select id="checkBook" resultType="Books">
        select * from bookweb.books
        where oncheck = 'T'
    </select>

    <update id="passBook">
        update bookweb.books
        set oncheck = 'F'
        where bookName=#{bookName} and author=#{author}
    </update>

    <delete id="notPassBook">
        delete from bookweb.books
        where bookName =#{bookName} and author=#{author}
    </delete>

</mapper>