<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.BookMapper">
    <select id="selectAllBooks" resultType="Books">
        select * from bookweb.books
        where oncheck = 'F'
    </select>

    <select id="checkBook" resultType="Books">
        select * from bookweb.books
        where bookName = #{bookName} and author = #{author}
    </select>

    <select id="selectBookBySort" parameterType="java.lang.String" resultType="Books">
        select * from bookweb.books
        where sort = #{sort} and oncheck = 'F'
    </select>

    <insert id="insertBook" parameterType="Books">
        insert into bookweb.books(bookName,ptUrl,sumIntro,sort,author,oncheck)
        values (#{bookName},#{ptUrl},#{sumIntro},
                #{sort},#{author},#{onCheck})
    </insert>
    
    <select id="bookLikeName" parameterType="java.lang.String" resultType="Books">
        select * from bookweb.books
        where bookName like #{likeName} and oncheck = 'F'
    </select>

    <select id="bookLikeAuthor" parameterType="java.lang.String" resultType="Books">
        select * from bookweb.books
        where author like #{likeName} and oncheck = 'F'
    </select>

</mapper>