<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.BookMapper">
    <select id="selectAllBooks" resultType="Books">
        select * from bookweb.books
        where oncheck = 'F'
    </select>

    <select id="checkBook" resultType="Books">
        select * from bookweb.books
        where bookName = #{bookName} and author = #{author}
    </select>

    <select id="selectBookBySort" parameterType="java.lang.String" resultType="Books">
        select * from bookweb.books
        where sort = #{sort} and oncheck = 'F'
    </select>

    <insert id="insertBook" parameterType="Books">
        insert into bookweb.books(bookName,ptUrl,sumIntro,sort,author,oncheck,hot)
        values (#{bookName},#{ptUrl},#{sumIntro},
                #{sort},#{author},#{onCheck},#{hot})
    </insert>
    
    <select id="bookLikeName" parameterType="java.lang.String" resultType="Books">
        select * from bookweb.books
        where bookName like #{likeName} and oncheck = 'F'
    </select>

    <select id="bookLikeAuthor" parameterType="java.lang.String" resultType="Books">
        select * from bookweb.books
        where author like #{likeName} and oncheck = 'F'
    </select>

    <update id="riseHot" >
        update bookweb.books
        set hot = hot + 1
        where bookName=#{bookName} and author=#{author}
    </update>

    <select id="selectByHot" resultType="Books">
        select * from bookweb.books
        order by hot
    </select>

    <insert id="setUrl" >
        insert into bookweb.booktype(bookName,author,url)
        values (#{bookName},#{author},#{url})
    </insert>
    
    <select id="getUrl" resultType="java.lang.String">
        select t.url from bookweb.booktype t
        where bookName = #{bookName} and author = #{author}
    </select>

</mapper>